
@font-face {
  font-family: 'DINCyr-Regular';
  src: url('DINCyr-Regular.eot?#iefix') format('embedded-opentype'),  url('DINCyr-Regular.woff') format('woff'), url('DINCyr-Regular.ttf')  format('truetype'), url('DINCyr-Regular.svg#DINCyr-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
