article,
aside,
footer,
header,
nav {
    display: block;
}

body {
    height: 100%;
    font-size: 11px;
    font-family: verdana;
    background: url(../gallery/bg-body.jpg);
}

ul {
    list-style: none;
}

@font-face {
    font-family: 'DINCyr-Regular';
    src: url('../fonts/DINCyr-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DINCyr-Regular.woff') format('woff'), url('../fonts/DINCyr-Regular.ttf') format('truetype'), url('../fonts/DINCyr-Regular.svg#DINCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN-LightAlternate';
    src: url('../fonts/DIN-LightAlternate.eot?#iefix') format('embedded-opentype'), url('../fonts/DIN-LightAlternate.otf') format('opentype'), url('../fonts/DIN-LightAlternate.woff') format('woff'), url('../fonts/DIN-LightAlternate.ttf') format('truetype'), url('../fonts/DIN-LightAlternate.svg#DIN-LightAlternate') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    cursor: pointer;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
    height: 100px;
    width: 1024px;
    margin: 0 auto;
    clear: both;
}

.header .logo-img {
    float: left;
    margin-top: 45px;
}

.header a.tel-number {
    float: right;
    margin-top: 60px;
    text-decoration: none;
    font-family: 'DIN-LightAlternate';
    font-size: 30px;
    color: #707070;
}

.header .tel-number span {
    font-size: 18px;
    display: block;
}

.wrapper {
    width: 1024px;
    margin: 100px auto 0;
    clear: both;
    padding-bottom: 151px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/

.navigation-list ul {
    padding-left: 0;
    margin-top: -8px;
}

.navigation-list a {
    text-decoration: none;
    font-family: 'DIN-LightAlternate', sans-serif;
    font-size: 40px;
    color: #363636;
    text-transform: uppercase;
}

.navigation-list a:hover {
    background-color: #707070;
    color: #fff;
}

.left-sidebar {
    float: left;
    width: 200px;
}


/* Middle
-----------------------------------------------------------------------------*/

div.all-columns {
    clear: both;
    overflow: hidden;
}

div.all-columns ul {
    padding-left: 0;
}

div.column {
    float: left;
    width: 33%;
}

.column li {
    clear: both;
}

.image {
    width: 78px;
    height: 78px;
    float: left;
    margin-right: 13px;
    margin-bottom: 18px;
    overflow: hidden;
    text-align: center;
    background-color: #000;
}

.image img {
    width: auto;
    height: 100%;
}
.last-first-name {
   word-wrap: break-word;
}

h1,
h2,
h3 {
    font-family: 'DINCyr-Regular';
    text-transform: uppercase;
    font-size: 18px;
    font-weight: lighter;
}

.container {
    width: 100%;
}

.content {
    padding: 0 0 0 220px;
}


/*.column {
    display: inline-block;
}*/


/* Footer
-----------------------------------------------------------------------------*/

.footer {
    box-sizing: border-box;
    margin: -100px auto 0;
    width: 1024px;
    height: 100px;
    border-top: 1px solid rgba(171, 171, 171, 0.5);
}

.footer-element,
.footer-link {
    vertical-align: top;
    display: inline-block;
    margin-top: 40px;
    margin-right: 22px;
}

.footer-link {
    color: #707070;
}

.footer-element span {
    margin-top: 0;
}